body{
  font-family: Arial;
  font-size: large;
  margin: 0;
  background-color: whitesmoke;
}

h1{
  text-align: center;
  margin: 50px;
}

.container{
  /*border-color: black;
  border-width: 5px;
  border-style: solid;*/

  display: grid;
  grid-template-columns: 40% 60%;
}

.Right-side-tickets{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.left-side-text{
  margin-left: 10px;
}

.Left-side-inputs{
  border-right: 2px solid #000;
}

.column-header{
  text-align: center;
  border-bottom: 2px solid #000;
}

.List-of-tickets{
  display: grid;
  grid-template-columns: 80% 20%;
  row-gap: 5px;
  margin: 8px;

}

.delete-button{
  font-weight: bold;
  background-color: darkred;
  color: white;
  border: none;
  cursor: pointer;
  border: 1px;
  border-style: solid;
  border-color: whitesmoke;
  transition-delay: 0.10s;
  
}

.delete-button:hover{
  background-color: whitesmoke;
  color: darkred;
  border: 2px;
  border-style: solid;
  box-shadow: 3px 3px 8px gray;
}

.Ticket-list-column{
  /*border-color: blue;
  border-width: 5px;
  border-style: solid;*/

}

.Bottom-statistics{
  margin-left: 20px;

}

input{
  margin-left: 25px;
  padding: 8px 12px;
  font-size: medium
}

.left-side-button{
  font-size: 15px;
  padding: 10px 18px;
  background-color: rgb(19, 19, 188);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border: 2px;
  border-style: solid;
  border-color: white;
  transition-delay: 0.10s;
}

.left-side-button:hover{
  background-color: whitesmoke;
  color: rgb(19, 19, 188);
  border: 2px;
  border-style: solid;
  box-shadow: 6px 6px 8px grey;
}

.left-side-button:active{
  background-color: rgb(19, 19, 188);
  color: whitesmoke;
}

.statistics-buttons{
  display: grid;
  grid-template-columns: 45% 55%;
  text-align: center;
  margin-top: 30px;
}

.show-statistics-button{
 
}

.Bottom-statistics{
  margin-top: 50px;
}